<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag @commerce.logo %>

			</div>
			<div class="col-md-7 col-md-offset-1">
				<div class="star-rating" data-score= <%= @commerce.rating %> ></div>
			</div>	
		</div>
	</div>
</div>
